body {
  padding: 50px;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: #0d8dc0;
}

li a {
  color: #0d8dc0;
  font-size: 16px;
}

h1 {
  color:rebeccapurple;
}
.delete-form {
  display: inline-block;
  margin-right: 10px;
}
.delete-form button {
  color:rebeccapurple;
}

li {
  list-style: none;
}